/* Add any specific styles for domains.html */
.cards-grid {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: row;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}
/* .card-card img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
} */

.card-info {
    padding: 20px;
}

.card-info h2 {
    margin-bottom: 10px;
}

.card-info a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: var(--primary-color);
}

.card-info a:hover {
    color: var(--accent-color);
}
